/**
COLORS

#1f1d1d: dark grey
#03ffc1: aquamarine
#141313: almost black
#E3E3E3: light grey

**/

body {
	background-color: #1f1d1d;
}

h1,h2,h3,h4,h5 {
	font-family: "Droid Serif", serif;
	color: #03ffc1;
}

p,a,label,span {
	font-family: "Open Sans", Helvetica, sans-serif;
	color: #E3E3E3;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

a.btn {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-themed {
	background-color: #03ffc1;
	color: white;
}

.btn-themed:hover {
	background-color: #17C298;
	color: white;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.navbar-header a {
	font-family: "Montserrat", sans-serif;
}

.centered {
	text-align: center;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width: 50%;
}

form label {
	vertical-align: middle;
}

a:hover {
	color: #E3E3E3;
}

.navbar-inverse {
	background-color: #141313;
}

.form-control {
	background-color: #E3E3E3;
}

.btn-default {
	background-color: #E3E3E3;
}

#body_content {
	margin: auto;
}

#body_content h2 {
	font-size: 36pt;
	text-shadow: 2px 2px #000000;
	text-align: center;
	margin: 20px auto 0 auto;
	width: 80%;
}
