#rooms_list {
	width: 70%;
	margin: auto;
}

.room {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 1px 1px 3px 3px #141313;
	-webkit-box-shadow: 1px 1px 3px 3px #141313;
	box-shadow: 1px 1px 3px 3px #141313;
	padding: 10px;
	text-align: center;
	margin: 10px 10px;
	width: 20%;
}

.room a {
	color: black;
}