#tasks {
	background-color: rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 1px 1px 3px 3px #3D3D3D;
	-webkit-box-shadow: 1px 1px 3px 3px #3D3D3D;
	box-shadow: 1px 1px 3px 3px #3D3D3D;
	padding: 10px;
	margin: 20px auto;
	height: 400px;
	overflow: auto;
	position: relative;
}

#task_wrapper {
	position: absolute;
	bottom: 0;
	max-height: 100%;
	overflow: visible;
}

#messages {
	background-color: rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 1px 1px 3px 3px #3D3D3D;
	-webkit-box-shadow: 1px 1px 3px 3px #3D3D3D;
	box-shadow: 1px 1px 3px 3px #3D3D3D;
	padding: 10px;
	margin: 20px auto;
	height: 400px;
	overflow: auto;
}

#task_content {
	margin-left: 5%;
	display: inline-block;
	width: 30%;
}

#messaging_content {
	margin-left: 3%;
	display: inline-block;
	width: 50%;
}

#sidebar_content {
	display: none;
	text-align: center;
	margin: auto;
	margin-top: 70px;
	color: white;
}

#sidebar_content a {
	color: white;
}

#sidebar_content h4 {
	margin-bottom: 17px;
}

#sidebar {
	background-color: rgba(61, 61, 61, 0.7);
	-moz-box-shadow: -2px 0px 1px 1px #242424;
	-webkit-box-shadow: -2px 0px 1px 1px #242424;
	box-shadow: -2px 0px 1px 1px #242424;
	display: inline-block;
	height: 100%;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
}

.task {
	color: black;
	border: 2px outset grey;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.task_detail_priority {
	color: red;
	display: inline-block;
}

span.glyphicon {
	color: red;
}

.task_title {
	font-weight: bold;
	cursor: pointer;
}

.message {
	color: #000E5E;
}

.message.typing_notification {
	color: #575757 !important;
	font-style: italic;
}

.message p {
	display: inline;
}

#add_message_form {
	width: 100%;
}

#input_message {
	width: 85%;
}

#send_message {
	margin-left: 10px;
}