#tasks {
	background-color: rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 1px 1px 3px 3px #141313; /*3D3D3D*/
	-webkit-box-shadow: 1px 1px 3px 3px #141313;
	box-shadow: 1px 1px 3px 3px #141313;
	padding: 10px;
	margin: 20px auto;
	height: 400px;
	overflow: auto;
	position: relative;
}

#task_wrapper {
	position: absolute;
	bottom: 0;
	max-height: 100%;
	width: 95%;
	overflow: visible;
}

#messages {
	background-color: rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 1px 1px 3px 3px #141313;
	-webkit-box-shadow: 1px 1px 3px 3px #141313;
	box-shadow: 1px 1px 3px 3px #141313;
	padding: 10px;
	margin: 20px auto;
	height: 400px;
	overflow: auto;
}

#task_content {
	margin-left: 5%;
	display: inline-block;
	width: 30%;
}

#messaging_content {
	margin-left: 3%;
	display: inline-block;
	width: 50%;
}

#sidebar_content {
	display: none;
	text-align: center;
	margin: auto;
	margin-top: 70px;
	color: white;
}

#sidebar_content a {
	color: white;
}

#sidebar_content h4 {
	margin-bottom: 17px;
}

#sidebar {
	background-color: rgba(61, 61, 61, 0.7);
	-moz-box-shadow: -2px 0px 1px 1px #242424;
	-webkit-box-shadow: -2px 0px 1px 1px #242424;
	box-shadow: -2px 0px 1px 1px #242424;
	display: inline-block;
	height: 100%;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
}

.modal-dialog h3, .modal-dialog h5, .modal-dialog p, .modal-dialog span {
	color: black;
}

.popover {
	background-color: #141313;
}

.popover.left>.arrow:after {
	border-left-color: #141313;
}

#close_reply_popover {
	color: #E3E3E3;
	opacity: 0.7;
}

#close_reply_popover:hover {
	opacity: 1;
}

#reply_popover_content {
	margin-right: 5px;
}

.task {
	margin-bottom: 2px;
	padding: 5px 11px;
	border: 1px solid #141313;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

.task_detail_priority {
	color: red;
	display: inline-block;
	margin-right: 40px;
}

.task_detail .glyphicon {
	color: red;
}

.task .glyphicon {
	color: #03ffc1;
}

.task_title {
	font-weight: bold;
}

.task_summary {
	margin-top: 3px;
}

.reply_forward_link {
	font-weight: bold;
}

.reply_backward_link {
	font-style: italic;
}

.task_detail_tags_list {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.task_preview_tags_list {
	display: block;
	margin-top: 3px;
	margin-bottom: 2px;
}

.task_tags {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.task_detail_tags_list .task_tag {
	border: 1px solid #03ffc1;
	background-color: #03ffc1;
	color: white;
}

.task_preview_tags_list .task_tag {
	border: 1px solid #E3E3E3;
	color: #E3E3E3;
}

div.task_attachments {
	text-align: left;
	margin-bottom: 10px;
}

a.attachment_link { /* we want default bootstrap link colors for these */
	color: #428bca;
	margin-right: 5px;
}

a:hover.attachment_link { /* we want default bootstrap link colors for these */
	color: #2a6496;
}

.task_tag {
	display: inline;
	padding: 3px;
	border-radius: 3px;
	margin-right: 3px;
}

.task_status {
	text-align: right;
	right: 11px;
	position: absolute;
}

.message {
	margin-bottom: 2px;
	padding: 2px 11px;
	border: 1px solid #141313;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 3px;
}

.message.typing_notification {
	color: #575757 !important;
	font-style: italic;
}

.message p {
	display: inline;
}

.left_arrow {
	display: inline-block;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

#add_message_form {
	width: 100%;
}

#input_message {
	width: 85%;
	resize: none;
	overflow: auto;
}

#send_message {
	margin-left: 10px;
}