<!DOCTYPE html>
<html>
	<head>
		<% include "common_includes.html" %>
		<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
		<title id="page_title">Internal server error | Crisis Flow</title>
	</head>
	<body>
		<% include "navbar.html" %>
		<div id="body_content">
			<div class="row">
				<h2>Internal server error</h2>
			</div>
			<div class="row centered">
				<p>500 - that's an error!</p>
				<p>This is my fault. Please let <a href="mailto:decorum@browncrisis.org">Ian</a> know what happened.</p>
			</div>
		</div>
	</body>
</html>