<!DOCTYPE html>
<html>
	<head>
		<% include "common_includes.html" %>
		<script type="text/javascript" src="/js/index.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
		<title id="page_title">Rooms | Crisis Flow</title>
	</head>
	<body>
		<% include "navbar.html" %>
		<div id="body_content">
			<h2>Rooms</h2>
			<a href="/manage_rooms">Create a new room or manage existing rooms.</a>
			<div id="rooms_list">
				<% for room in @room_list : %>
					<div class="room" data_room_id="<%- room.id %>">
						<a href="/rooms/<%- room.id %>">
							<h4><%= room.name %></h4>
							<p>Users in room: <%- room.num_members %></p>
						</a>
					</div>
				<% end %>
			</div>
		</div>
	</body>
</html>