<!DOCTYPE html>
<html>
	<head>
		<% include "common_includes.html" %>
		<script type="text/javascript" src="/js/manage_rooms.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/manage_rooms.css"></link>
		<title id="page_title">Manage Rooms | Crisis Flow</title>
	</head>
	<body>
		<% include "navbar.html" %>
		<!-- modal dialog containing delete room confirmation (starts hidden) -->
		<div id="delete_room_dialog" class="task_detail modal fade" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Are you sure you want to delete this room?</h4>
					</div>
					<div class="modal-footer">
						<button id="confirm_room_delete" type="button" class="btn btn-danger">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- modal dialog containing rename room form (starts hidden) -->
		<div id="rename_room_dialog" class="task_detail modal fade" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Rename room</h4>
					</div>
					<div class="modal-body">
						<form id="rename_room_form" class="form-inline">
							<label for="rename_room_name">New name:</label>
							<input id="rename_room_name" type="text"></input>
						</form>
					</div>
					<div class="modal-footer">
						<button id="confirm_room_rename" type="button" class="btn btn-primary">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="body_content">
			<h2>Manage Rooms</h2>
			<div id="new_room_box">
				<div id="new_room_wrapper">
					<form id="new_room_form" class="form-inline">
						<label for="new_room_name">Enter a name for a new room:</label>
						<input id="new_room_name" type="text"/>
						<input id="create_new_room" class="btn btn-primary" type="submit" value="Create"></input>
					</form>
				</div>
			</div>
			<div id="rooms_list">
				<% for room in @room_list : %>
					<div class="room">
						<span class="room_name">
							<a href="/rooms/<%- room.id %>"><%= room.name %></a>
						</span>
						<input id="rename_room_<%- room.id %>" data-room-id="<%- room.id %>" class="rename_room btn btn-default" type="submit" value="Rename"
							data-toggle="modal" data-target="#rename_room_dialog">
						</input>
						<input id="delete_room_<%- room.id %>" data-room-id="<%- room.id %>" class="delete_room btn btn-danger" type="button" value="Delete" 
							data-toggle="modal" data-target="#delete_room_dialog">
						</input>
					</div>
				<% end %>
			</div>
		</div>
	</body>
</html>