<nav id="menu_bar" class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="chatroom_brand" class="navbar-brand" href="/">CRISIS FLOW</a>
			<ul class="nav navbar-nav">
				<li id="rooms_menu" class="menu_item"><a href="/index">Rooms</a></li>
				<li id="signout_menu" class="menu_item"><a href="/signout">Sign out</a></li>
			</ul>
		</div>
		<p id="nav_greeting" class="menu_item navbar-text navbar-right">Hi there, <%- @display_name %>!</p>
	</div>
</nav>