<!DOCTYPE html>
<html ng-app="room">
	<head>
		<% include "common_includes.html" %>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/autosize/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="/js/room.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/room.css"></link>
		<title id="page_title"><%= @room.name %> | Crisis Flow</title>
		
		<meta name="room_id" content="<%- @room.id %>"/>
		<meta name="username" content="<%- @username %>"/>
		
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var socket = io.connect();
		</script>
	</head>
	<body ng-controller="ContextController">
		<div id="task_detail_modals" ng-repeat="task in tasks">
			<!-- modal dialog containing task details (starts hidden) -->
			<div id="task_detail_{{ task.id }}" class="task_detail modal fade" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title">{{ task.title }}</h3>
							<span ng-show="task.high_priority" class="glyphicon glyphicon-exclamation-sign"></span>
							<h4 ng-show="task.high_priority" class="task_detail_priority">High Priority</h4>
							<div ng-show="task.tags.length" class="task_detail_tags_list">
								<span>Tags:</span>
								<ul class="task_tags">
										<li ng-repeat="tag in task.tags" class="task_tag">{{ tag.name }}</li>
								</ul>
							</div>
							<p class="task_detail_profile">Submitted by {{ task.author }} (<span class="task_time"></span>)</p>
						</div>
						<div class="modal-body">
							<div class="task_content">
								<p>{{ task.content }}</p>
							</div>
						</div>
						<div class="modal-footer">
							<div ng-show="task.attachments.length" class="task_attachments">
								<h5>Attachments</h5>
								<a ng-repeat="attachment in task.attachments" class="attachment_link" 
								href="<%- @upload_path %>{{ attachment.internal_filename }}">{{ attachment.user_filename }}</a>
							</div>
							<button ng-show="{{ task.status > 0 }}" type="button" class="task_status_retreat btn btn-default">
								<span class="left_arrow">&#10152;</span>
								<span>Revert status</span>
							</button>
							<button ng-show="{{ task.status < 2 }}" type="button" class="task_status_advance btn btn-primary">
								<span>Advance status</span>
								<span>&#10152;</span>
							</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include "navbar.html" %>
		<div id="body_content">
			<h2>{{ room.name }}</h2>
			<div id="task_content">
				<div id="tasks">
					<div id="task_wrapper">
						<!-- task entry in task queue -->
						<div ng-repeat="task in tasks" id="task_{{ task.id }}" class="task">
							<span ng-show="task.high_priority" class="glyphicon glyphicon-exclamation-sign"></span>
							<a class="task_title" data-toggle="modal" data-target="#task_detail_{{ task.id }}">{{ task.title }}</a>
							<div ng-show="task.tags.length" class="task_preview_tags_list">
								<span>Tags:</span>
								<ul class="task_tags">
									<li ng-repeat="tag in task.tags" class="task_tag">{{ tag.name }}</li>
								</ul>
							</div>
							<p class="task_author">Submitted by {{ task.author }} (<span class="task_timeago"></span>)</p>
						</div>
					</div>
				</div>
				<a href="/add_task/{{ room.id }}" id="add_task" class="btn btn-primary" type="submit">Add a new directive</a>
			</div>
			<div id="messaging_content">
				<div id="messages">
					<div ng-repeat="message in messages" class="message" data-toggle="tooltip" data-placement="left">
						<a class="reply_link" onclick="initReply(this);">{{ message.author }}</a>
						<p ng-show="{{ message.reply >= 0 }}">In reply to message {{ message.reply }}</p>
						<p>{{ message.content }}</p>
					</div>
				</div>
				<form id="add_message_form"  class="form-inline">
					<textarea id="input_message" class="form-control" autofocus="true" 
					data-toggle="popover" placeholder="Hi, {{ username }}! Say something…">
					</textarea>
					<button id="send_message" class="btn btn-primary" type="submit">Send</button>
				</form>
			</div>
		</div>
		<div id="sidebar">
			<div id="sidebar_content">
				<h4>Channels</h4>
				<div id="channels">
					<div ng-repeat="channel in room.channels" class="channel">
						<input id="channel_toggle_{{ channel.id }}" class="channel_toggle" 
						type="checkbox" checked="true">
						</input>
						<span class="channel_name">{{ channel.name }}</span>
					</div>
				</div>
				<h4>Members</h4>
				<div id="members">
				</div>
			</div>
		</div>
	</body>
</html>