<!DOCTYPE html>
<html ng-app="room">
	<head>
		<% include "common_includes.html" %>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/autosize/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="/js/room.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/room.css"></link>
		<title id="page_title"><%= @room.name %> | Crisis Flow</title>
		
		<meta name="room_id" content="<%- @room.id %>"/>
		<meta name="username" content="<%- @username %>"/>
		
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var socket = io.connect();
		</script>
	</head>
	<body ng-controller="ContextController">
		<div id="task_detail_modals" ng-repeat="task in tasks track by task.id">
			<!-- modal dialog containing task details (starts hidden) -->
			<div id="task_detail_{{ task.id }}" class="task_detail modal fade" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title">{{ task.title }}</h3>
							<span ng-show="task.high_priority" class="glyphicon glyphicon-exclamation-sign"></span>
							<h4 ng-show="task.high_priority" class="task_detail_priority">High Priority</h4>
							<div ng-show="task.tags.length" class="task_detail_tags_list">
								<span>Tags:</span>
								<ul class="task_tags">
										<li ng-repeat="tag in task.tags track by tag.id" class="task_tag">{{ tag.name }}</li>
								</ul>
							</div>
							<p class="task_detail_profile">Submitted by {{ task.author }} (<span class="task_time">{{ formatTaskTime(task.id) }}</span>)</p>
						</div>
						<div class="modal-body">
							<div class="task_content">
								<p>{{ task.content }}</p>
							</div>
						</div>
						<div class="modal-footer">
							<div ng-show="task.attachments.length" class="task_attachments">
								<h5>Attachments</h5>
								<a ng-repeat="attachment in task.attachments" class="attachment_link" 
								ng-href="<%- @upload_path %>{{ attachment.internal_filename }}">{{ attachment.user_filename }}</a>
							</div>
							<button ng-click="retreatTaskStatus(task.id)" ng-show="task.status > 0" type="button" class="task_status_retreat btn btn-default">
								<span class="left_arrow">&#10152;</span>
								<span>Revert to {{ statusStrings[task.status - 1] }}</span>
							</button>
							<button ng-click="advanceTaskStatus(task.id)" ng-show="task.status < 2" type="button" class="task_status_advance btn btn-primary">
								<span>Mark as {{ statusStrings[task.status + 1] }}</span>
								<span>&#10152;</span>
							</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include "navbar.html" %>
		<div id="body_content">
			<h2>{{ room.name }}</h2>
			<div id="task_content">
				<div id="tasks">
					<div id="task_wrapper">
						<!-- task entry in task queue -->
						<div ng-repeat="task in tasks | orderBy:'time':true track by task.id" ng-if="task.status >= 0 && task.status < 2" id="task_{{ task.id }}" 
						class="task" data-toggle="tooltip" data-placement="right" data-task-time="{{ task.time }}">
							<span ng-show="task.high_priority" class="glyphicon glyphicon-exclamation-sign"></span>
							<a class="task_title bold" data-toggle="modal" data-target="#task_detail_{{ task.id }}">{{ task.title }}</a>
							<div class="task_summary">
								<span class="task_author">From: {{ task.author }}</span>
								<span class="task_status">Status: {{ statusStrings[task.status] }}</span>
							</div>
							<div ng-show="task.tags.length" class="task_preview_tags_list">
								<span>Tags:</span>
								<ul class="task_tags">
									<li ng-repeat="tag in task.tags track by tag.id" class="task_tag">{{ tag.name }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<a ng-href="/add_task/{{ room.id }}" id="add_task" class="btn btn-primary" type="submit">Add a new directive</a>
			</div>
			<div id="messaging_content">
				<div id="messages">
					<div ng-repeat="message in messages | orderBy:'time':false track by message.id" id="message_{{ message.id }}"
					class="message" data-toggle="tooltip" data-placement="left" data-message-time="{{ message.time }}">
						<a class="reply_forward_link bold" ng-click="initReply(message.id)">{{ message.author }}:</a>
						<p class="reply_backward_link" ng-show="message.reply >= 0">(<a ng-click="jumpToReplyTarget(message.reply)" class="italic">reply to {{ message.author }}</a>)</p>
						<p>{{ message.content }}</p>
					</div>
				</div>
				<form id="add_message_form" class="form-inline" ng-submit="addMessage()">
					<textarea id="input_message" class="form-control" ng-model="inputMessage" 
					ng-keypress="enterInputMessage($event)" autofocus="true" data-toggle="popover" 
					placeholder="Hi, {{ username }}! Say something…">
					</textarea>
					<button id="send_message" class="btn btn-primary" type="submit">Send</button>
				</form>
			</div>
		</div>
		<div id="sidebar">
			<div id="sidebar_content">
				<h4>Members</h4>
				<div id="members">
					<p class="member" ng-repeat="member in members | orderBy:'username' track by member.username">{{ member.username }} <span ng-show="member.idle">(<span class="italic">away</span>)</span></p>
				</div>
			</div>
		</div>
	</body>
</html>