<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/client/js/room_producer.js" charset="utf-8"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
		<link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'></link>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/client/css/base.css"></link>
		<link rel="stylesheet" type="text/css" href="/client/css/room.css"></link>
		<link rel="stylesheet" type="text/css" href="/client/css/room_producer.css"></link>
		<title id="page_title"><%= @room_name %> | Chatroom</title>
		
		<meta name="room_id" content="<%- @room_id %>"/>
		<meta name="username" content="<%- @username %>"/>
		
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var socket = io.connect();
		</script>
	</head>
	<body>
		<% include "navbar.html" %>
		<div id="body_content">
			<h2><%= @room_name %></h2>
			<div id="task_content">
				<div id="tasks">
					<div id="task_wrapper">
						<% for task in @task_list : %>
							<div class="task" data-task-id="<%- task.id %>" data-task-time="<%- task.time %>" 
							data-task-high-priority="<%- task.high_priority %>" data-task-content="<%= task.content %>">
								<strong class="task_title"><%= task.title %></strong>
								<p class="task_author">Submitted by <%= task.author %> (<span class="task_timeago"></span>)</p>
							</div>
						<% end %>
					</div>
				</div>
				<a href="/add_task/<%- @room_id %>" id="add_task" class="btn btn-primary" type="submit">Add a new directive</a>
			</div>
			<div id="messaging_content">
				<div id="messages">
					<% for message in @message_list : %>
						<div class="message" data-id="<%- message.id %>" data-msg-time="<%- message.time %>">
							<strong><%= message.author %>: (<span class="msg_timeago"></span>)</strong>
							<% if message.reply >= 0 : %>
								<p>In reply to message <%- message.reply %></p>
							<% end %>
							<p><%= message.content %></p>
						</div>
					<% end %>
				</div>
				<form id="add_message_form"  class="form-inline">
					<div class="input-group">
						<span class="input-group-addon">Reply to</span>
						<input id="input_message" type="text" class="form-control" placeholder="Hi, <%- @username %>! Say something…" data-reply-to="" data-whisper-to="">
					</div>
					<button id="send_message" class="btn btn-primary" type="submit">Send</button>
				</form>
			</div>
		</div>
		<div id="sidebar">
			<div id="sidebar_content">
				<h4>Chatters</h4>
				<div id="members">
				</div>
			</div>
		</div>
	</body>
</html>