<!DOCTYPE html>
<html>
	<head>
		<% include "common_includes.html" %>
		<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
		<script type="text/javascript" src="/client/js/signin.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/client/css/signin.css"></link>
		<title id="page_title">Sign-in | Crisis Flow</title>
		
		<meta name="server_salt" content="<%- @server_salt %>"/>
	</head>
	<body>
		<% include "navbar_signin.html" %>
		<div id="body_content">
			<h2>Welcome to Crisis Flow!</h2>
			<div id="signin_wrapper">
				<form id="signin_form" class="form-inline">
					<input id="username" type="text" placeholder="Username"/>
					<input id="password" type="password" placeholder="Password"/>
					<button id="submit_signin" class="btn btn-primary" type="submit">Sign in</button>
				</form>
				<p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
			</div>
		</div>
	</body>
</html>